<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<body class = "portfolio">
  <div class="main">
  	<h1>About Me</h1>
  	<div class="profile">
  	<%= image_tag("main.png")%>
  </div>
  	<p class="ex1"> Hi, my name is Duncan Szarmes. I am a third year Computer Science major at the University of British Columbia, Okanagan. 
   </p>

  	<p class = "ex2">	Interests/hobbies:
  		surfing, biking, football (go chargers!), gaming, guitar, being creative, and much more..
  	</p>
  </div>
</body>
</html>



