<% provide(:title, 'Resume') %>
<html>
<body class="portfolio">
	<h1>Resume</h1>
	<div>
		<h3>Skills</h3>
		<p>
			Languages: Java, Lua, SQL, Ruby on Rails, HTML, Scheme, Prolog, Assembly
		</p>
		<p>
			IDE's/Coding tools: Eclipse, Android SDK, Corona, SQuirreLSQL, Xcode, gitHub, Command-Line, DrRacket
		</p>
	</div>
	<div>
		<h3>Job Experience</h3>
		<h2 class="refer">Undergaduate Teaching Assistant</h2>
		<p class = "ex3">University of British Columbia, Okanagan</p>
		<p class = "ex3">September 2013-present </p>
		<p class = "ex3">Supervisor: <a href="https://people.ok.ubc.ca/bowenhui/">Bowen Hui</a>, Faculty of Computer Science </p>
		<p class = "ex3">- Instructed labs for COSC 111 </p>
		<p class = "ex3">- Marked labs, assignments, and midterms </p>
		<p class = "ex3">- Taught basic OOP concepts and Java coding methods </p>


		<h2 class="refer">Undergraduate Research Assistant</h2>
		<p class = "ex3">University of British Columbia, Okanagan</p>
		<p class = "ex3">August 2013-present </p>
		<p class = "ex3">Supervisor: Robert Campbell, Faculty of Education </p>
		<p class = "ex3">- Created powerpoint presentations and informational videos to be used in the Digital Citizenship course at UBCO </p>
	</div>
</body>
</html>