
    <div class="user">
      <h2 class="refer"> <%= item1.title %> </h2>
    </div>
    <div class="avatar">
     <p><%= image_tag item1.avatar %></p>
    </div>
    <div class="content">
      <p class="ex4"><%= item1.content %> </p>
    </div>
    



   
   
 