	
	
	
	<div class="contactlist">
    <div class="user">
      <p>From: <%= item.name %> </p>
    </div>
    <div class="content">
      <p>Email: <%= item.email %> </p>
    </div>
    <div class="content">
     <p>Message: <%= item.comment %></p>
    </div>



   
   
 