// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grayMediumLight: #eaeaea;

div.field{
	

	width:400px;

}
div.field2{
	

	width:200px;
	padding-top:100px;
	

}
div.field1{
	

	width:600px;

}
div.avatar{
	

	width:100px;
	height:100px;
	float:left;
	padding-bottom:50px;
	

}