<div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var keys = [];
        var code = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65, 13];
        var keys1=[];
        var code1 = [27];
        $("#shh").hide();
        $(document).keydown(function(keyEvent) {
          keys.push(keyEvent.keyCode);
          keys1.push(keyEvent.keyCode);
          if ( keys.length > code.length ) {
            keys.shift();
          }
          if ( keys1.length > code1.length ) {
            keys1.shift();
          }
          if ( keys.toString() == code.toString() ) {
            $('#shh').slideDown('slow');
          }
          if ( keys1.toString() == code1.toString() ) {
               $("#shh").hide();
               }
        });
      });
    </script>
  </div>
  <div class = "konami" id="shh" >
      <a href = "https://github.com/ralphbean/konami-code-tutorial/blob/master/index.html"><img src="http://i.imgur.com/Ay29K.jpg" height=400 width=400 </img></a>
      <p>You found the easter egg!! (Press ESC to close)</p>
    </div>
     

